@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

p {
    margin: 3em 0;
}

.lh-normal {
    line-height: normal;
}

.lh-180 {
    line-height: 1.8;
}

.lh-250 {
    line-height: 2.5;
}